@font-face{
    font-family:"Odachi";
    src: url("Odachi 400.otf");
}
@font-face{
    font-family:"NoirRegular";
    src: url("NoirStd-Regular.ttf");
}
@font-face{
    font-family:"NoirBold";
    src: url("NoirPro-Bold.ttf");
}


html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}
.body1{
    background-image: url("falls.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-color: white;
    height: 100%;
}
.body2{
    background-image: url("city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.body3{
    background-image: url("bundok.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.body4{
    background-color: white;
    background-size: cover;
    background-position: center;
    height: 100%;
}
li, a{
    font-weight: 500;
    font-size:  20px;
    color: white;
    text-decoration: none;
    font-family: "NoirRegular";
   
}
header{
    background-color: #015668;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5%;
}
.logo{
    margin-right: auto;
    cursor: pointer;
    font-family: "Odachi";
    font-size: 25px;
}
.nav_link{
    list-style: none;
}
.nav_link li{
    display: inline-block;
    padding: 0px 50px;
}
.nav_link li a:hover {
    color: black;
}
.nav_link li a{
    transition:  all 0.3s ease 0s;
}
.intro1{
    text-align: center;
    font-size: 30px;
    color: white;
}
.text1{
    text-decoration: none;
    font-family: NoirBold;
    padding: 50px;
    text-shadow: 1px 1px black;
}
.text2{
    font-family: "NoirRegular";
    text-shadow: 1px 1px black;
}
.butones{
    width: auto;
    padding: 10px 18px;
    background-color:  #015668;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: black;
}

.intro2{
    text-align: left;
    font-size: 30px;
    padding: 200px 4%;
    margin: auto;
    color: #ffd369;
}
.text3{
    font-family: NoirBold;
    font-weight: bold;
    text-shadow: 1px 1px black;
    text-decoration: underline;
    text-decoration-color: #015668;
}
.text4{
    text-shadow: 1px 1px black;
    font-family: NoirRegular;
    color: #e8eeb2;
}
.box{
    width: 400px;
    text-align: center;
    background: rgba(7, 65, 36, 0.411);
    padding: 20px;
    margin: 8% auto 0;
    font-size: 16px;
    color: #ffd369;;
}
input[type=text]{
    width: 80%;
    padding: 5px 5%;
    display: inline-block;
    border: 1px solid #cccccc;
}
.intro3{
    text-align: center;
    background-image: url("cloud.jpg");
    background-size: cover;
    padding: 10px;
    text-shadow: 1px 1px black;
    font-family: NoirBold;
    font-size: 30px;
    color: white;
}
.text5{
    font-family: NoirBold;
    text-shadow: 1px 1px black;
}
.text6{
    text-shadow:1px 1px black;
    font-family: NoirRegular;
}
.box1{
    width: 250px;
    text-align: center;
    background: white;
    box-shadow: 5px 5px 8px black;
    padding: 5px;
    margin: 1% auto 0;
    font-size: 16px;
    color: black;
    left: 5%;
    position: absolute;
    border: 1px solid black;
}
.open1{
    text-align: center;
    font-weight: bold;
    font-family: NoirBold;
    font-size: 18px;
}
.box2{
    width: 250px;
    text-align: center;
    background: white;
    box-shadow: 5px 5px 8px black;
    padding: 10px;
    margin: 1% auto 0;
    font-size: 16px;
    color: black;
    left: 40%;
    position: absolute;
    border: 1px solid black;
}
.box3{
    width: 250px;
    text-align: center;
    background: white;
    box-shadow: 5px 5px 8px black;
    padding: 10px;
    margin: 1% auto 0;
    font-size: 16px;
    color: black;
    right: 5%;
    position: absolute;
    border: 1px solid black;
}
.contactp{
    font-size: 18px;
    text-shadow: 1px 1px black;
}
.open2{
    font-size: 14px;
    font-family: NoirRegular;
}
img{
    width: 50px;
    background-position: center;
    background-size: cover;
    background-position: absolute;
    height: 100;
}
.box1 .icon{
    line-height: 35px;
    background: #015668;
    background-size: cover;
}
.box2 .icon{
    line-height: 35px;
    background:#015668;
    background-size: cover;
}
.box3 .icon{
    line-height: 35px;
    background: #015668;
    background-size: cover;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 0.5rem;
    background-color:#015668;
    font-size: 18px;
    font-family: Odachi;
    color: #ffd369;
    margin-left: auto;
}
